@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url("../assets/images/background.png");
    background-repeat: repeat-y;
    background-size: cover;
    background-attachment: scroll;
    background-color: #8B0097;
    color: white;
}

/* main header */

.header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #26012f;
    font-family: Montserrat;
    font-size: 32px;
    padding: 10px 90px;
    justify-content: space-between;
    align-items: center; 
    z-index: 1000;
    
}

.header-a a {
    text-decoration: none;
    font-weight: bold;
    color: white
}

.header-a img {
    width: 50px;
    height: auto;
}

.header-b a {
    text-decoration: none;
    font-weight: bold;
    margin-left: 20px;
    color: white
}

.header-a {
    display: flex;       
    align-items: center;   
    gap: 10px;              
}

/* big text */

.big-text {
    margin-top: 200px;
    margin-left: 140px;
    margin-right: 140px;
    font-family: Open Sans;
    text-align: center;
    font-size: 37px;
}

.big-text p {
    font-size: 20px;
}

.big-text h1 {
    margin-bottom: 5px;
}

/* banner  */

.banner {
    font-family: Montserrat;
    display: flex;
    background-color: rgba(0, 0, 0, 0.39);
    max-width: fit-content;
    margin: auto;
    margin-top: 100px;
    gap: 150px;
    padding: 30px;
    border-radius: 7px;
    justify-content: space-between;
}

.company-logo {
    display: flex;
    flex-direction: row;
    max-width: 300px;
    gap: 10px;
    font-size: 26px;
    font-weight: bolder;
    align-items: center;
}

.company-logo img {
    max-width: 50px;
    height: auto;
}

.company-information {
    text-align: center;
}

/* form */

.form-text {
    font-family: Montserrat;
    text-align: left;
    max-width: 80vw;
    margin: auto;
    margin-top: 30px;
    font-size: 20px;
}

.form-text h5 {
    font-weight: 200;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 10px;
}

.form-text h2 {
    margin-top: 5px;
}

/*||||||||||||||||||||||||||||||||||||||||| big funny seperator*/

.form-container {
    background-color: rgba(0, 0, 0, 0.39);
    max-width: 90vw;
    margin: auto;
    border-radius: 7px;
    font-family: Montserrat;
}

.form-container form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 7px;
    padding: 5vw;
    margin-top: 30px;
}

.form-container input, .form-container textarea {
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid rgb(138, 138, 138);
    border-radius: 22px;
    min-height: 40px;
    width: 100%;
    color: white;
    font-family: Montserrat;
    padding: 10px 15px;
    box-sizing: border-box;
}

.form-container textarea {
    min-height: 200px;
    min-width: 100%;
    resize: vertical;
}

.form-container button {
    display: flex;
    background: rgba(114, 0, 126, 0.4);
    color: white;
    font-family: Montserrat;
    border-style: solid;
    border-width: 2px;
    border-radius: 22px;
    border-color: rgb(138, 138, 138);
    align-items: flex-start;
    max-width: fit-content;
    padding: 10px 30px;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 15px;
}

.form-container button:hover {
    background-color: white;
    color: rgb(106, 3, 117);
    border-color: rgb(255, 255, 255);
}

.form-container input:focus, .form-container textarea:focus {
    background-color: rgba(0, 0, 0, 0);
    border-color: rgb(106, 3, 117);
    color: white;
    outline: none;
}
/* stats box*/

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    max-height: 400px;
    margin: auto;
    margin-top: 30px;
    background: rgba(54, 13, 60, 0.9); 
    padding: 30px;
    border-radius: 15px; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
}

.content {
    max-width: 45%;
    max-height: fit-content;
    font-size: 30px;
    font-family: Open Sans;
    margin-left: 30px;
    margin-bottom: 30px;
}


.smallText {
    font-size: 14px;
    font-family: Open Sans;
}

.lmore-button {
    background: none;
    border: 2px solid white;
    border-radius: 10px;
    padding: 8px 18px;
    font-size: 14px;
    cursor: pointer;
    margin-top: 10px;
    text-decoration: none;
    color: white;
}

.stats {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    font-family: Open Sans;
    max-width: 45%;
    font-size: 24px;
    margin: 0;
    transform: translateX(-30px);
}

.stat-box {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    text-align: center;
    background: rgba(114, 0, 126, 0.4);
    padding: 20px;
    max-height: 150px;
    border-radius: 10px;
    font-family: Open Sans;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.stat-box h2 {
    margin: 0;
}

.stat-box p {
    margin: 0;
}

/* iframe and details */

.iframe {
    display: flex;
    font-family: Montserrat;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
    text-align: center;
    max-width: fit-content;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.39);
    padding: 10px;
    border-radius: 7px;
    margin-top: 30px;
}

.iframe-company-details {
    padding-left: 40px;
    align-items: center;
    max-height: fit-content;
    margin: auto;
}   

.company-header {
    display: flex;
    flex-direction: row;
    max-width: fit-content;
    margin: auto;
    gap: 10px;
    font-size: 26px;
    font-weight: bolder;
    align-items: center;
}

.company-header img {
    width: 50px;
    height: auto;
}

/* footer */

footer {
    font-family: montserrat;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 10px 5px 10px;
    text-align: center;
}

footer h5 {
    margin: 0;
}

.policy-links {
    display: flex;
    gap: 15px;
}

footer a {
    text-decoration: none;
    color: white;
}