@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url("../assets/images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-color: #8B0097;
}

/* main header */

.header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #26012f;
    font-family: Montserrat;
    font-size: 32px;
    padding: 10px 90px;
    justify-content: space-between;
    align-items: center; 
    z-index: 1000;
}

.header-a a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.header-a img {
    width: 50px;
    height: auto;
}

.header-b a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-left: 20px;
}

.header-a {
    display: flex;       
    align-items: center;   
    gap: 10px;              
}

.bigText {
    margin-top: 200px;
    margin-left: 140px;
    margin-right: 140px;
    font-family: Open Sans;
    color: white;
    text-align: center;
    font-size: 37px;
}

.bigText p {
    font-size: 20px;
}

/* services panel */

.services {
    font-family: Montserrat;
    display: flex;
    flex-direction: row;
    gap: 20px;
    background: rgba(54, 13, 60, 0.9);
    justify-content: center;
    max-width: fit-content;
    margin: auto;
    padding: 20px;
    border-radius: 15px;
    margin-top: 30px;
    color: white;
}

.services img {
    width: 100px;
    height: auto;
    padding: 5px;
}

.services section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
    padding: 14px;
    background-color: rgb(85, 7, 91);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Description */

.descriptions {
    font-family: Montserrat;
    display: flex;
    justify-content: center;
    gap: 10px;
    color: white;
    margin: 40px 100px;
}

/* Detailed Services */

.detailed-services {
    display: flex;
    margin: 0px 40px;
    font-family: Montserrat;
    color: white;
    gap: 40px;
    justify-content: center;
    padding-bottom: 30px;
}

.detailed-services img {
    height: 100px;
    width: auto;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 20px;
    max-width: 1100px;
    background: rgba(54, 13, 60, 0.9);
    border-radius: 15px; 
    padding: 20px;
}

.grid section {
    margin: 0px;
    padding: 20px;
    background-color: rgba(114, 0, 126, 0.4);
    border-radius: 10px;
}

/* stats box - javascript needed*/

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    max-height: 400px;
    margin: auto;

    background: rgba(54, 13, 60, 0.9); 
    padding: 30px;
    border-radius: 15px; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
}

.content {
    max-width: 45%;
    max-height: fit-content;
    font-size: 30px;
    color: white;
    font-family: Open Sans;
    margin-left: 30px;
    margin-bottom: 30px;
}


.smallText {
    font-size: 14px;
    font-family: Open Sans;
    color: #ffffff;
}

.lmore-button {
    background: none;
    border: 2px solid white;
    border-radius: 10px;
    padding: 8px 18px;
    font-size: 14px;
    color:white;
    cursor: pointer;
    margin-top: 10px;
    text-decoration: none;
}

.stats {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    font-family: Open Sans;
    max-width: 45%;
    font-size: 24px;
    margin: 0;
    transform: translateX(-30px);
}

.stat-box {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    text-align: center;
    background: rgba(114, 0, 126, 0.4);
    padding: 20px;
    max-height: 150px;
    border-radius: 10px;
    color: white;
    font-family: Open Sans;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.stat-box h2 {
    margin: 0;
}

.stat-box p {
    margin: 0;
}